.foother {
  display: flex;
  justify-content: space-between;
  background-color: $color-header-background;
  margin-bottom: 1rem;
  padding: 0.5rem 5rem 0.5rem 5rem;
  @include respond(small-phone) {
    flex-direction: column;
  }
  & .heading-3 {
    color: $color-header-text;
  }
  & .logo_foother {
    // display: inline-block;
    vertical-align: bottom;
    margin-left: 2rem;
    max-width: 2.8rem;
    max-height: 2.8rem;
  }
}
