.section--about {
  background-color: azure;
}
.left--box {
  position: relative;
  overflow: hidden;
  min-height: 50rem;
  @include respond(tab-land) {
    min-height: 40rem;
  }
  @include respond(tab-port) {
    min-height: 35rem;
  }
  @include respond(phone) {
    height: 60rem;
  }
  @include respond(small-phone) {
    height: 40rem;
  }
  .slide {
    object-fit: contain;
    position: absolute;
    //width: 100%;
    max-width: 100%;
    height: auto;
    @include respond(tab-port) {
      max-width: 130%;
    }
  }
}

.right--box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;

  grid-template-rows: 20rem 1fr;
  margin-right: 0.8rem;
  justify-items: flex-start;
  padding-left: 2rem;

  @include respond(phone) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  @include respond(small-phone) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.forecast--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: flex-start;
  align-items: center;
  @include respond(phone) {
    grid-column: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  & h3 {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  & .temp {
    font-size: 4rem;
    text-align: center;
    @include respond(tab-port) {
      font-size: 3.2rem;
    }
  }
  & .weather {
    max-width: 10rem;
    @include respond(tab-port) {
      max-width: 8rem;
    }
  }
  & .lists {
    justify-self: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
    gap: 0.8rem;
    @include respond(tab-land) {
      gap: 0.25rem;
    }
    @include respond(tab-port) {
      gap: 0.15rem;
    }
  }
}

.nexts--days {
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column: 1/-1;
  justify-self: center;
  @include respond(small-desktop) {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include respond(phone) {
      grid-column: 1/-1;
      justify-self: center;
    }
  }
  & .btn {
    background-color: $color-header-background;
    font-size: 2.8rem;
    padding: 1rem;
    text-align: center;
    color: $color-header-text;
    @include respond(tab-land) {
      padding: 0.5rem;
      font-size: 2.2rem;
    }
  }
}

////////forecast modal
.forecast__modal {
  position: fixed;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 90%;
  // transform: translate(-50%, -50%);
  background-color: $color-modal-forecast-background;
  border: 0.1rem solid $color-header-text;
  height: 80vh;
  border-radius: 8px;

  padding: 4rem;

  animation: moveInTop 0.6s ease-out;

  transform: translate(-50%, -50%);
  .forecast__modal__heading {
    display: flex;
    justify-content: space-between;
    .modal__close_icon {
      height: 6rem;
      width: 6rem;
      background-color: $color-modal-forecast-background;
      cursor: pointer;
      color: white;
    }
    .btn__close_modal {
      margin: 0 !important;
      background-color: $color-modal-forecast-background;
      border: none;
    }
  }
  .forecast__modal_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 4rem;
    row-gap: 6rem;

    @include respond(tab-land) {
      grid-template-columns: 1fr 1fr;
      row-gap: 4rem;
    }
    @include respond(tab-port) {
      row-gap: 3rem;
    }
    @include respond(phone) {
      row-gap: 2rem;
      grid-template-columns: 1fr;
    }
  }
  .forecast--grid {
    padding: 0 !important ;
    justify-items: center !important;
    align-items: center !important;
    & h3 {
      justify-self: flex-start;
      padding: 0 2rem;
      border-radius: 2rem;
      background: linear-gradient(to right, #748ffc, $color-header-background);
    }
  }
}
